version: '2'
services:
  php7-apache:
    image: ebey/php7-apache
    environment:
      VIRTUAL_HOST: ${HOST}
      VIRTUAL_PORT: 80
      LETSENCRYPT_HOST: ${LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_MAIL}
    volumes:
      - ./html:/var/www/html/
    restart: always
    networks:
      - nginx-network
      
  mysql:
    restart: always
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./db:/var/lib/mysql/
    networks:
      - nginx-network
